@import "../../styles.scss";

.background-login {
  background-color: rgb(92, 207, 207);
  width: 100%;
  height: 100%;
  padding-bottom: 75%;
}

label {
  font-size: 14px;
  color: rgb(68, 68, 68);
  font-weight: bold;
}
.title {
  width: 305px;
  margin: 5px;
  padding: 5px;
  height: fit-content;
  color: white;
  background-color: black;
}

.card {
  width: 100%;
}
.alert {
  color: rgb(190, 18, 18);
  border: 0;
  height: fit-content;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}
