<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="background-login">
                <h1>Bem vindo ao AdminChurch</h1>
            </div>
        </div>
        <div class="col-4 mt-5">
            <h1 class="title mb-4">ADMINCHURCH</h1>
            <h2>Para acessar a plataforma é necessário fazer o login de sua conta</h2>
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="login()">
                        <div class="mb-3">
                            <label class="form-label">Usuário (e-mail)</label>
                            <input type="email" formControlName="email" class="form-control" required />
                            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                class="alert alert-danger mt-1">E-mal inválido
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Senha</label>
                                <input type="password" formControlName="password" class="form-control" />
                                <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                    class="alert alert-danger mt-1">Senha tem que ter pelo menos 4 caracteres
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button [disabled]="form.invalid" class="btn btn-primary">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                                    Login
                                </button>
                                <p>Não é cadastrado? Clique registre-se agora!</p>
                                <button type="button" class="btn btn-outline-info" (click)="redirectTo()">Registre-se</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
